body {
    font-family: 'Bebas Neue', cursive;
    display: grid;
    grid-template-areas:
        "header"
        "sidebar"
        "main"
        "main"
        "footer";

}




  #navbar a {
    float:right;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

#title {
    display:flex;
    justify-content: center;
}

h1{
    font-size: 100px;
}

h2{
    font-size: 50px;
}

hr {
    border-color:#000000
}

h3{
    font-size: 30px;
}

p {
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin:1px;
}


.column {
    display: inline-block;
    width: 33%;
    height: 400px;
    border-radius: 25px;
    text-align: center;
    outline: #000000;
    outline-style: solid;
    outline-width: 2px;
    overflow: hidden    ;
    box-shadow: 0px 5px black;

  }
  ul.myUL {
    display: inline-block;
    text-align: left;
    font-size: 30px;
  }
  

 


/*this is for the table so may need to delete */



/* this is for an image with hover over text*/

.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 30%;
}

.image {
        border-radius: 50%;
        opacity: 1;
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
}

.middle {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
        }
                .container:hover .image {
                    opacity: 0.3;
                }
                .container:hover .middle {
                    opacity: 1;
                }
                .text {
                    color: white;
                    font-size: 36px;
                    padding: 16px 32px;
                }



/*code for the background*/

  body {
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, #23d52f);
      background-size: 1000% 1000%;
      animation: gradient 15s ease infinite;
      background-repeat: no-repeat;
  }
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }

footer p {
    font-size: 20px;
}


  @media screen and (prefers-color-scheme: dark) {
    body {
        background: linear-gradient(-45deg, #000000, #3b3c36, #36454f, #000000);
        background-size: 1000% 1000%;
        animation: gradient 15s ease infinite;
        background-repeat: no-repeat;
        color: white;
    
    }
    #navbar a {
        float:right;
        display: block;
        color: #ffffff;
        text-align: center;
        padding: 14px;
        text-decoration: none;  
    }
    
    .socialmedia{
        -webkit-filter: invert(100%);
        filter: invert(100%);
    }

    hr {
        border-color:#ffffff
    }

    .column {
        display: inline-block;
        width: 33%;
        height: 400px;
        border-radius: 25px;
        text-align: center;
        outline: white;
        outline-style: solid;
        outline-width: 2px;
        overflow: hidden    ;
        box-shadow: 0px 5px white;
  }
  
  }

@media screen and (min-width: 768px) {
    .box {
        height: 500px;
        font-size: 100px;
    }
}

@media screen and (min-width: 414px) {
    #navbar {
        position: relative;
    }
}