body {
    font-family: 'Bebas Neue', cursive;
    display: grid;
    grid-template-areas:
        "header"
        "sidebar"
        "main"
        "main"
        "footer";
}


.header {
grid-row: 2;
}

.sidebar {
    grid-row: 1;
}

.main {
    grid-row: 3 / 5;
}

.footer {
    grid-row: 6;
}

.body{
    display: grid;
  justify-content: center
}

#navbar {
    overflow: hidden;

  }  
  #navbar a {
    float:right;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }


#title {
    display:flex;
    justify-content: center;
    
}

h1{
    font-size: 100px;
}

h2{
    font-size: 50px;
}

hr {
    border-color:#272932
}

h3{
    font-size: 30px;
}

figure {


display: inline-block;

}




/* this is for an image with hover over text*/

  .container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 30%;
  }
        .image {
        border-radius: 50%;
        opacity: 1;
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
  }
  
        .middle {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
        }
        
                .container:hover .image {
                    opacity: 0.3;
                }
                
                .container:hover .middle {
                    opacity: 1;
                }
                
                .text {
                    color: white;
                    font-size: 36px;
                    padding: 16px 32px;
                }


p {
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin:1px;
}

  

    
.socialmedia:visited {
    color: blue;
}

.socialmedia:active
{
    color:red;
}




a[class="socialmedia"] {
    background-color: salmon;
}


html, body {
    width: 100%;
    height:100%;
  }
  
  body {
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 1000% 1000%;
      animation: gradient 15s ease infinite;
      background-repeat: no-repeat;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
